# * See config.py for more details on the expected environment variables and their usage
EGENT_BACKEND="openai"

# ? Define the model to use for Egent
# ? if not set it will default to gpt-5-mini (see config.py:L89-98) 
EGENT_MODEL="Qwen/Qwen3-VL-8B-Instruct"

# ? Define the API key and custom base URL (optional) for OpenAI client
OPENAI_API_KEY="xxxxx"
OPENAI_API_BASE="http://xxxx/v1"
